<configuration scan="true" scanPeriod="5 seconds">
  <timestamp key="bySecond" datePattern="yyyy-MM-dd_HH-mm-ss"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%highlight(%5level)] %logger{35} - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <appender name="FILE-GENERAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/psforever-general_${bySecond}.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/psforever-general_%d{yyyy-MM-dd}.gz</fileNamePattern>
      <maxHistory>60</maxHistory>
      <totalSizeCap>10GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%date{ISO8601} %5level %logger{35} - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator>
        <matcher>
          <Name>encrypted</Name>
          <!-- occurs during latency or relogging complications; the messages are useless -->
          <regex>Unexpected packet type EncryptedPacket</regex>
        </matcher>
        <expression>encrypted.matches(formattedMessage)</expression>
      </evaluator>
      <OnMatch>DENY</OnMatch>
      <OnMismatch>NEUTRAL</OnMismatch>
    </filter>
<!--    <filter class="net.psforever.filters.LoggerPrefixFilter">-->
<!--      &lt;!&ndash;-->
<!--       c.g.j.s.d.p.c.PostgreSQLConnectionHandler-->
<!--      &ndash;&gt;-->
<!--      <prefix>com.github.jasync.sql.db.postgresql.codec</prefix>-->
<!--    </filter>-->
<!--    <filter class="net.psforever.filters.LoggerPrefixFilter">-->
<!--      &lt;!&ndash;-->
<!--       i.s.c.AbstractConnection.lockdown-->
<!--       i.sentry.connection.AsyncConnection-->
<!--      &ndash;&gt;-->
<!--      <prefix>io.sentry.connection</prefix>-->
<!--    </filter>-->
<!--    <filter class="net.psforever.filters.LoggerPrefixFilter">-->
<!--      &lt;!&ndash; damage log &ndash;&gt;-->
<!--      <prefix>DamageResolution</prefix>-->
<!--    </filter>-->
<!--    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--      <level>INFO</level>-->
<!--    </filter>-->
<!--    <filter class="net.psforever.filters.ApplyCooldownToDuplicateLoggingFilter">-->
<!--      <cooldown>5000</cooldown>-->
<!--    </filter>-->
  </appender>

  <root level="TRACE">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE-GENERAL"/>
  </root>
</configuration>
